version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Build Docker Image
          command: |
            docker build -t wecare-ecommerce:${CIRCLE_SHA1} .

workflows:
  build-workflow:
    jobs:
      - build
